<header class="w-full sticky top-0 z-50 bg-black border-b border-dim flex flex-col gap-4 items-center justify-between px-4 md:px-7 py-7">
    <div class="flex w-full justify-between">
        <a class="max-w-50 md:max-w-70" href="/" aria-label="Ir al inicio">
            <img src="./logo.avif" alt="Musictober">
        </a>
        <a href="/profile">
            <img src="./profile.astro" alt="Foto de perfil de Jorge">
        </a>
    </div>
    <nav class="text-white border-b-2 border-white border-2 w-full flex justify-center px-4 py-4">
        <ul class="flex gap-4">
            <li><a href="/">Votar</a></li>
            <li><a href="/historial">Mis Votaciones</a></li>
            <li><a href="/historial">¿Cómo funciona?</a></li>
            <li><a href="/perfil">Ganadores Anteriores</a></li>
        </ul>
    </nav>
</header>