<header class="w-full sticky top-0 z-50 bg-black border-b border-dim h-[52px] flex items-center justify-between px-7 pb-7 border-b-2 border-white">
    <div class="flex w-full justify-between">
        <a href="/" aria-label="Ir al inicio">
            <img src="" alt="Musictober">
        </a>
        <a href="/perfil">
            <img src="" alt="Foto de perfil de Jorge">
        </a>
    </div>
</header>