---
import Header from '../components/Header.astro';
const { title, description } = Astro.props


---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		

		<script>
			import { initSession } from '../stores/sessionStore'
			import { getSession } from '../services/auth'
			import { logoutUser } from '../stores/sessionStore'

			initSession()

			const PUBLIC_ROUTES = ['/login', '/register']

			const currentPath = window.location.pathname
			const isPublic = PUBLIC_ROUTES.includes(currentPath)
			const session = getSession()

			if (!isPublic && !session) {
				window.location.href = '/login'
			}

			if (isPublic && session) {
				window.location.href = '/'
			}


  			document.getElementById('logout-btn')?.addEventListener('click', logoutUser)
		</script>
	</head>
	<body class="bg-black-m text-white">
		<Header />
		<main class="w-full flex justify-center flex-col bg-black">
			<slot />
		</main>
	</body>
	
</html>